<div class="col-6 offset-3 mt-5">
  <h3>Editar una nueva novedad</h3>
  <form action="/admin/novedades/editar" method="post" enctype="multipart/form-data">
    <div class="form-group mt-4">
      <input type="hidden" value="{{novedad.id}}" name="id" />
      <input
        type="text"
        class="form-control"
        placeholder="Título"
        value="{{novedad.titulo}}"
        name="titulo"
        required
      />
    </div>
    <div class="form-group mt-3">
      <textarea
        type="text"
        class="form-control"
        placeholder="Subtítulo"
        name="subtitulo"
        required
      >{{novedad.subtitulo}}</textarea>
    </div>
    <div class="form-group mt-3">
      <textarea
        type="text"
        class="form-control"
        placeholder="Cuerpo"
        name="cuerpo"
      >{{novedad.cuerpo}}</textarea>
    </div>
     <div class="form-group mt-3">
       <p>
          <label>Imagen: <input type="file" name="imagen" id="imagen"/>
          </label>
      </p>
      <p>
          <label><input type="checkbox" name="img_delete" id="img_delete" value="1"/> Eliminar imagen actual ? </label>
          <input type="hidden" name="img_original" value="{{novedad.img_id}}">
      </p>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
  </form>
  {{#if error}}
    <p>{{message}}</p>
  {{/if}}
</div>