<div class="col-6 offset-3 mt-5">
  <h3>Editar una nueva novedad</h3>
  <form action="/admin/novedades/editar" method="post">
    <div class="form-group mt-4">
      <input type="hidden" value="{{novedad.id}}" name="id" />
      <input
        type="text"
        class="form-control"
        placeholder="Título"
        value="{{novedad.titulo}}"
        name="titulo"
        required
      />
    </div>
    <div class="form-group mt-3">
      <textarea
        type="text"
        class="form-control"
        placeholder="Subtítulo"
        name="subtitulo"
        required
      >{{novedad.subtitulo}}</textarea>
    </div>
    <div class="form-group mt-3">
      <textarea
        type="text"
        class="form-control"
        placeholder="Cuerpo"
        name="cuerpo"
      >{{novedad.cuerpo}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
  </form>
  {{#if error}}
    <p>{{message}}</p>
  {{/if}}
</div>